.img2 {
    width: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: white;
    font-size: 24px;
    font-family: sans-serif;
    display: block;
    padding: 14px 16px;
    text-decoration: none;

}

li {
    float: right;

}

ul {
    background-color: gray;
    list-style-type: none;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

#active {
    background-color: forestgreen;

}

.menu:hover {
    color: black
}

.menu:active {
    color: red
}

body {
    background-color: lightsteelblue;
}
 
p {
    font-size: 24px;
    font-family: sans-serif;
    padding: 10px 60px;

}

h2 {
    font-size: 24px;
    font-family: sans-serif;
    padding: 0px 60px;
}

.beard {
    width: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

footer {
    font-size: 24px;
    font-family: sans-serif;
    background-color: gray;
    color: white;
    padding: 10px 60px;

}

#home {
    background-image: url("images/home.jpeg")
}

#about {
    background-image: url("images/about.jpeg")
}

#contact {
    background-image: url("images/contact.jpeg")
}

.picBackdrop {
    background-position: center;
    background-size: cover;

}

h1 {
    margin: 0;
    padding: 120px 10px;
    height: 60px;
    text-align: center;
    color: black;
    font-size: 72px;
    font-family: sans-serif;
}

#white {
    margin: 0;
    padding: 120px 10px;
    height: 60px;
    text-align: center;
    color: white;
    font-size: 72px;
    font-family: sans-serif;
}
