.img2 {
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu:hover {
    color: teal
}

.menu:active {
    color: orange
}

.beard {
    width: 5%
}

body {
    background-color: lightsteelblue;
}
